body {
    background-color: #1F2937;
    color: white;
    margin-top: 60px;
    margin-left: 40px;
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
}

.highlight {
    color: #10B981;
}

.para {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #D5D4D8;
    margin-top: 5px;
}

button {
    background-color: #10B981;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

hr {
    color: #2F3E53;
    margin-top: 35px;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#password1-el, #password2-el {
    border-radius: 8px;
    height: 30px;
    background-color: #273549;
    margin: 15px 0;
    width: 500px;
    padding: 5px;
    text-align: center; /* Center-align text */
}

label, input[type="number"] {
    font-size: 16px;
    margin: 10px 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #273549;
    color: white;
}
